* {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
  text-align: justify;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.hidden{
  display: none;
}
