.fa-github, .fa-github-alt, .fa-github-square {
  background-color: #070709;
}

.fa-facebook, .fa-facebook-square {
  background-color: #3C599F;
}

.fa-google-plus, .fa-google-plus-square {
  background-color: #CF3D2E;
}

.fa-html5 {
  background-color: #E54D26;
}

.fa-linkedin, .fa-linkedin-square {
  background-color: #0085AE;
}

.fa-linux {
  background-color: #FBC002;
  color: #333;
}

.fa-maxcdn {
  background-color: #F6AE1C;
}

.fa-stack-overflow {
  background-color: #FF7300;
}

.fa-trello {
  background-color: #265A7F;
}

.fa-windows {
  background-color: #12B6F3;
}





