.skills {
  height: 100%;
  width: 100%;
  z-index: 15;
  position: relative;
  max-height: 100%;
  background-color: #f5f5f5;

  #content {
    position:absolute;
    top:50%;
    left:50%;
    margin:-340px 0 0 -450px;
    width:900px;
    height:600px;
    display: none;

    @include breakpoint(md){
      display: block;
    }

    .legend {
      float:left;
      width:250px;
      margin-top:140px;

      .skills {
        float:left;
        clear:both;
        width:100%;

        & ul,
        & li {
          display:block;
          list-style:none;
          margin:0;
          padding:0;
        }

        li {
          float:right;
          clear:both;
          padding:0 15px;
          height:35px;
          line-height:35px;
          color:#fff;
          margin-bottom:1px;
          font-size:18px;
        }

        .jq {
          background:#97BE0D;
        }
        .css {
          background:#D84F5F;
        }
        .php {
          background:#BEDBE9;
        }
        .html {
          background:#88B8E6;
        }
        .sql {
          background:#EDEBEE;
        }
        .java {
          background:#E4842C;
        }
      }
    }

    h1 {
      font-family:'Cabin Sketch', arial, serif;
      text-shadow:3px 3px 0 #ddd;
      color:#193340;
      font-size:40px;
      margin-bottom:40px;
      text-align:right;
    }
  }

  .footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background:#2D2D2D;
    color:#EAEAEA;
    padding:20px 0;

    a {
      color:#EAEAEA;

      &:hover {
        color:#E4842C;
      }
    }

    .inside {
      font-family: 'Cabin Sketch', arial, serif;
      font-size:22px;
      text-align:center;
    }
  }


  #diagram {
    float:right;
    width:600px;
    height:600px;
  }

  .get {
    display:none;
  }

  a {
    text-decoration:none;
    color:#333;
  }

}