.skills {
  height: 100%;
  width: 100%;
  display: table;
  min-height: 100%;
  position: relative;
  background-color: #e1e3e4;

  @import "../components/skill_graph";

  .skill-sets {
    position: relative;
    display: table-cell;
    margin-bottom: 100px;

    .skill-set {
      height: 580px;
      padding: 5px 20px;

      .sets-wrapper {
        height: 100%;
        background-color: #EFEFEF;

        h1 {
          color: #000;
          margin: 0;
          padding: 20px 0;
          font-size: 2vw;
          text-align: center;
          text-transform: uppercase;
          background-color: #F54F36;
        }
      }
    }
  }

  #myChart{
    margin: auto;
    display: block;
    margin-top: 85px;
  }

  .chart {
    color: #999;
    margin: 20px auto;
    position: relative;
    font-size: 14px;
    text-align: center;

    canvas {
      top: 0;
      left: 0;
    }
  }

  .skill-list {
    margin: 0;
    padding: 1em;
    list-style: none;

    .skill {
      margin-bottom: 1em;
      position: relative;

      progress, progress[role] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background-size: auto;
        height: 100px;
        width: 100%;
      }

      h3 {
        top: 1em;
        left: 1em;
        color: #fff;
        position: absolute;
        line-height: 1;
      }
      ::-webkit-progress-value {
        width: 0px;
        -webkit-animation: bar-fill 2s;
      }

      // Style the bar colors
      .skill-1::-webkit-progress-value {
        background: #ff9e2c;
      }

      .skill-1::-moz-progress-bar {
        background: #ff9e2c;
      }

      .skill-2::-webkit-progress-value {
        background: #4ecdc4;
      }

      .skill-2::-moz-progress-bar {
        background: #4ecdc4;
      }

      .skill-3::-webkit-progress-value {
        background: #ff6b6b;
      }

      .skill-3::-moz-progress-bar {
        background: #ff6b6b;
      }

      .skill-4::-moz-progress-bar {
        background: #ece738;
      }

      .skill-4::-webkit-progress-value {
        background: #ece738;
      }
    }
  }
}