@import "../partials/main/social-icons-conf";

section.main {
  $box-wrapper-size: 350px;
  $boxsize: $box-wrapper-size / 10;

  position: relative;
  background: #ffffff url('../images/bg1.jpg') no-repeat center center;

  .home-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: repeat scroll 0 0 rgba(53, 60, 79, .8);
  }

  .info-container {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    position: relative;

    .info {
      height: 50%;
      position: relative;
      padding-top: 10%;
      padding-left: 15%;

      .header {
        height: 100%;
        position: absolute;
        font-weight: 800;

        .titles {
          bottom: 80px;
          display: inline-block;
          position: relative;

          h1, h2 {
            line-height: 1em;
            font-family: 'raleway';
            font-weight: bold;
            padding-left: 10px;
          }

          h1 {
            font-size: 7vw;
          }

          h2 {
            font-size: 50px;
          }
        }

        img {
          width: 300px;
          height: 300px;
          border: 10px solid #eff0f4;
          display: inline;
          z-index: 5;
          position: relative;
          border-radius: 250px;
        }
      }

      .orbitContainer {
        position: absolute;

        @keyframes rotate {
          0% {
            @include transform(rotateZ(0deg) translateX(300px) rotateZ(-0deg) rotateY(-60deg));
          }

          100% {
            @include transform(rotateZ(360deg) translateX(300px) rotateZ(-360deg) rotateY(-60deg));
          }
        }

        .orbitWrapper {
          width: $box-wrapper-size;
          height: $box-wrapper-size;
          margin: 0 auto;
          z-index: 1;
          position: relative;
          border-radius: 50%;

          @include transform(rotateY(40deg));
          -webkit-transform-style: preserve-3d;

          .planet {
            top: $box-wrapper-size / 2 - $boxsize;
            left: $box-wrapper-size / 2 - $boxsize;
            z-index: 10;
            position: absolute;
            border-radius: 50%;

            @for $i from 1 through 40{
              &:nth-child(#{$i}){
                animation-delay: -#{$i}s;
              }
            }

            @include animation(rotate 7s infinite linear);

            &:hover {
              -webkit-animation-play-state: paused;
            }
          }

          a.social-icon {
            .fa {
              color: #FFF;
              color: rgba(255,255,255,0.8);
              width: 90px;
              height: 90px;
              font-size: 3em;
              text-align: center;
              line-height: 92px;
              border-radius: 50%;
              @include transition(all 0.3s ease-in-out);

              @for $i from 1 through 40{
                &:nth-child(#{$i}){
                  animation-delay: -#{$i+3}s;
                }
              }

              &:hover, &:active {
                color: #FFF;

                -webkit-animation-play-state: paused;

                @include box-shadow(1px 1px 3px #333);
                @include transform(scale(1.1));
                @include transform(scale(2.1) rotate(360deg));
              }
            }
          }
        }
      }
    }
  }
}




