/* Coolors Exported Palette - coolors.co/ff7b00-14e842-ff6a4c-4995ff-7a7a7a */
$color1: #ff7b00; //rgba(255, 123, 0, 100)
$color2: #14e842; //rgba(20, 232, 66, 100)
$color3: #ff6a4c; //rgba(255, 106, 76, 100)
$color4: #4995ff; //rgba(73, 149, 255, 100)
$color5: #7a7a7a; //rgba(122, 122, 122, 100)