/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'fontawesome';
  src: url('../../fonts/timeline/fontawesome.eot');
  src: url('../../fonts/timeline/fontawesome.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/timeline/fontawesome.svg#fontawesome') format('svg'),
  url('../../fonts/timeline/fontawesome.woff') format('woff'),
  url('../../fonts/timeline/fontawesome.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.timeline {
  position: relative;
  height: auto;
  z-index: 15;

  .main, .header {
    width: 95%;
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1.875em 3.125em;
  }

  header {
    padding: 2.875em 1.875em 1.875em;

    h1 {
      float: left;
      margin: 0;
      font-size: 2.125em;
      //margin-top: 3%;
      line-height: 1.3;
      font-weight: 400;
      padding-left: 18%;
    }

    span {
      display: block;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      padding: 0 0 0.6em 0.1em;
    }
    nav {
      float: right;

      a {
        display: block;
        float: left;
        position: relative;
        width: 2.5em;
        height: 2.5em;
        background: #fff;
        border-radius: 50%;
        color: transparent;
        margin: 0 0.1em;
        border: 4px solid #47a3da;
        text-indent: -8000px;

        &:after {
          content: attr(data-info);
          color: #47a3da;
          position: absolute;
          width: 600%;
          top: 120%;
          text-align: right;
          right: 0;
          opacity: 0;
          pointer-events: none;
        }

        &:hover:after {
          opacity: 1;
        }

        &:hover {
          background: #47a3da;
        }
      }
    }
  }

  .icon-drop:before {
    content: "\e000";
  }

  .icon-arrow-left:before {
    content: "\f060";
  }

  .icon-drop:before,
  .icon-arrow-left:before {
    font-family: 'fontawesome';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    text-align: center;
    color: #47a3da;
    -webkit-font-smoothing: antialiased;
    text-indent: 8000px;
    padding-left: 8px;

  }

  .start_icon{
    width: 40px;
    height: 40px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
  }

  @-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
  }
  .shake:hover,
  .shake:focus {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.4s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
  }
}