@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-kr57mt');
	src:url('fonts/icomoon.eot?#iefix-kr57mt') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-kr57mt') format('truetype'),
		url('fonts/icomoon.woff?-kr57mt') format('woff'),
		url('fonts/icomoon.svg?-kr57mt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-coffee:before {
	content: "\e601";
}
.icon-automobile:before {
	content: "\e602";
}
.icon-coffee2:before {
	content: "\e603";
}
.icon-car:before {
	content: "\e605";
}
.icon-soccer:before {
	content: "\e606";
}
.icon-football:before {
	content: "\e607";
}
.icon-chevron-up:before {
	content: "\e608";
}
.icon-comment:before {
	content: "\e826";
}
.icon-facebook:before {
	content: "\e80e";
}
.icon-twitter:before {
	content: "\e813";
}
.icon-linkedin:before {
	content: "\e81a";
}
.icon-google-plus:before {
	content: "\e81b";
}
.icon-phone-support:before {
	content: "\e60b";
}
.icon-chat-support:before {
	content: "\e604";
}
.icon-tutorials-support:before {
	content: "\e60f";
}
.icon-email-support:before {
	content: "\e81f";
}
.icon-email-protection:before {
	content: "\e81f";
}
.icon-email:before {
	content: "\e81f";
}
.icon-mobile-app:before {
	content: "\e614";
}
.icon-home-automation:before {
	content: "\e615";
}
.icon-menu:before {
	content: "\e600";
}
.icon-email-support2:before {
	content: "\e820";
}
.icon-email-protection2:before {
	content: "\e820";
}
.icon-email2:before {
	content: "\e820";
}
.icon-camera:before {
	content: "\e90f";
}
.icon-video-camera:before {
	content: "\e914";
}
.icon-book:before {
	content: "\e91f";
}
.icon-books:before {
	content: "\e920";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-profile:before {
	content: "\e923";
}
.icon-ticket:before {
	content: "\e939";
}
.icon-coin-dollar:before {
	content: "\e93b";
}
.icon-coin-euro:before {
	content: "\e93c";
}
.icon-credit-card:before {
	content: "\e93f";
}
.icon-phone-hang-up:before {
	content: "\e943";
}
.icon-address-book:before {
	content: "\e944";
}
.icon-envelop:before {
	content: "\e945";
}
.icon-location:before {
	content: "\e947";
}
.icon-location2:before {
	content: "\e948";
}
.icon-compass:before {
	content: "\e949";
}
.icon-history:before {
	content: "\e94d";
}
.icon-mobile:before {
	content: "\e958";
}
.icon-drawer:before {
	content: "\e95c";
}
.icon-drawer2:before {
	content: "\e95d";
}
.icon-box-add:before {
	content: "\e95e";
}
.icon-box-remove:before {
	content: "\e95f";
}
.icon-bubbles:before {
	content: "\e96c";
}
.icon-bubbles2:before {
	content: "\e96d";
}
.icon-bubbles3:before {
	content: "\e96f";
}
.icon-airplane:before {
	content: "\e9af";
}
.icon-cloud:before {
	content: "\e9c1";
}
.icon-cloud-check:before {
	content: "\e9c4";
}
.icon-arrow-up:before {
	content: "\ea32";
}
.icon-circle-up:before {
	content: "\ea41";
}
.icon-terminal:before {
	content: "\ea81";
}
.icon-mail4:before {
	content: "\ea86";
}
.icon-android:before {
	content: "\eac1";
}
.icon-windows:before {
	content: "\eac2";
}
