@mixin transform($cmd) {
  -webkit-transform: $cmd;
  -moz-transform: $cmd;
  -ms-transform: $cmd;
  -o-transform: $cmd;
  transform: $cmd;
}

@mixin transition($cmd) {
  -webkit-transition: $cmd;
  -moz-transition: $cmd;
  -ms-transition: $cmd;
  -o-transition: $cmd;
  transition: $cmd;
}

@mixin box-shadow($cmd) {
  -webkit-box-shadow: $cmd;
  -moz-box-shadow: $cmd;
  box-shadow: $cmd;
}

@mixin border-radius($cmd) {
  -webkit-border-radius: $cmd;
  -moz-border-radius: $cmd;
  border-radius: $cmd;
}


@mixin animation($cmd) {
  -webkit-animation: $cmd;
  -moz-animation: $cmd;
  -o-animation: $cmd;
}

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}
