.map {
  padding: 0;
  z-index: 12;
  position: relative;
  background: #000 url('../images/bg_map.png');
  background-size: cover;

  h1 {
    color: #fff;
    padding: 5% 0 0 0;
    z-index: 99;
    font-size: 12vw;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

    @include breakpoint(xs) {
      font-size: 7vw;
    }

    @include breakpoint(sm) {
      font-size: 8vw;
    }
    @include breakpoint(md) {
      padding: 5% 0;
      font-size: 5vw;
    }
  }

  iframe {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .home-overlay {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
  }

  .buttons {
    padding: 30px 0;
    background-color: #337ab7;

    .bg-primary {
      color: #fff;
      background-color: #337ab7;
    }

    .btn-light {
      border-radius: 0;
      color: #333;
    }

    .btn-dark {
      border-radius: 0;
      color: #fff;
    }

    .call-to-action .btn {
      margin: 10px;
    }

    .btn {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
    }
  }

  .contact {
    width: 100%;
    margin: -10px 0 0 0;
    padding: 40px 0;
    z-index: 15;
    position: relative;

    * {
      color: #fff;
    }

    .text-center {
      font-size: 1.4vw;

      h4 {
        font-size: 2vw;
      }

      ul.list-inline {
        li {
          a {
            font-size: 1vw;
          }
        }
      }
    }

    form {
      input, textarea, :not(button) {
        color: #000;
      }
    }
  }

  .footer {
    width: 100%;
    height: 10%;
    bottom: 0;
    display: table;
    z-index: 15;
    position: absolute;
    background: #fff;

    div {
      color: #000;
      height: 100%;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }
}


// Grid
@mixin grid($column) {
  width:(100% / 12) * $column;
  margin:0 auto;
}

// Transition Ease
@mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
  -webkit-transition: $attr $time $curve;
  -moz-transition: $attr $time $curve;
  -o-transition: $attr $time $curve;
  -ms-transition: $attr $time $curve;
  transition: $attr $time $curve;
}

//-- Lato --//
@mixin lato-1 {font-family: 'Lato', sans-serif; font-weight:100;}
@mixin lato-1-i {@include lato-1; font-style:italic;}

@mixin lato-3 {font-family: 'Lato', sans-serif; font-weight:300;}
@mixin lato-3-i {@include lato-3; font-style:italic;}

@mixin lato-4 {font-family: 'Lato', sans-serif; font-weight:400;}
@mixin lato-4-i {@include lato-4; font-style:italic;}

@mixin lato-7 {font-family: 'Lato', sans-serif; font-weight:700;}
@mixin lato-7-i {@include lato-7; font-style:italic;}

@mixin lato-9 {font-family: 'Lato', sans-serif; font-weight:900;}
@mixin lato-9-i {@include lato-9; font-style:italic;}


// Colors
$blue:#313A3D;
$orange:#FD9638;
$dark-orange:darken($orange, 20%);
$grey:#B6B6B6;
$light-grey:lighten($grey, 15%);

$background:#efefef;
$field-color:#E8E9EA;


// Form
form.mapper {
  @include grid(7);

  .field {
    width:100%;
    position:relative;
    margin-bottom:15px;

    $hover-label-width:18%;
    $placeholder-bumper:1.5%;
    $label-padding:18px;

    // Label
    label {
      text-transform: uppercase;
      position:absolute;
      top:0;
      left:0;
      background:$blue;
      width:100%;
      padding:($label-padding + 0px) 0;
      font-size: 1.45em;
      letter-spacing: 0.075em;

      @include ease(333ms);

      // Checkmark
      + span {
        font-family: 'SSStandard';
        opacity: 0;
        color:white;
        display: block;
        position:absolute;
        top: 12px;
        left: 7%;
        font-size: 2.5em;
        text-shadow:1px 2px 0 $dark-orange;

        @include ease(333ms);
      }
    }

    // Fields
    input[type="text"],
    textarea {
      border:none;
      background:$field-color;
      width:100% - $hover-label-width - $placeholder-bumper;
      margin:0;
      padding:$label-padding 0;
      padding-left:$hover-label-width + $placeholder-bumper;
      color:$blue;
      font-size: 1.4em;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      &#msg {
        height: 18px;
        resize: none;
        @include ease(333ms);
      }

      // Focus and JS Toggle Class
      &:focus,
      &.focused {
        outline:none;

        &#msg {
          padding-bottom:150px;
        }

        + label {
          width:$hover-label-width;
          background:$orange;
          color:$blue;
        }
      }

      // JS Toggle Class
      &.focused {
        + label {
          color: $orange;
        }
      }
    }

    // Field Hover
    &:hover {
      label {
        width:$hover-label-width;
        background:$blue;
        color:white;
      }
    }
  }

  // Submit Button
  input[type="submit"] {
    background:$orange;
    color:white;
    -webkit-appearance: none;
    border: none;
    text-transform: uppercase;
    position:relative;
    padding: 13px 50px;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    @include lato-3;
    @include ease;

    &:hover {
      background:$blue;
      color:$orange;
    }

    &:focus {
      outline:none;
      background:$dark-orange;
    }
  }
}

