.map {
  padding: 0;
  z-index: 12;
  position: relative;
  background: #000;

  .row-wrapper {
    width: 100%;
    height: 100%;
    display: table;

    .row {
      display: table-cell;
      padding-top: 30px;
      vertical-align: middle;
    }
  }

  h1 {
    color: #fff;
    position: relative;
    z-index: 15;
  }

  iframe {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .home-overlay {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
  }

  .buttons {
    padding: 30px 0;
    background-color: #337ab7;

    .bg-primary {
      color: #fff;
      background-color: #337ab7;
    }

    .btn-light {
      border-radius: 0;
      color: #333;
      //background-color: rgb(255,255,255);
    }

    .btn-dark {
      border-radius: 0;
      color: #fff;
      //background-color: rgba(0,0,0,0.4);
    }

    .call-to-action .btn {
      margin: 10px;
    }

    .btn {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
    }
  }

  .contact {
    width: 100%;
    margin: -10px 0 0 0;
    padding: 40px 0;
    z-index: 15;
    position: relative;

    * {
      color: #fff;
    }

    form {
      input, textarea, :not(button) {
        color: #000;
      }
    }
  }

  .footer {
    width: 100%;
    height: 30px;
    bottom: 0;
    display: table;
    z-index: 15;
    position: absolute;
    background: rgba(0,0,0,0.3);

    div {
      color: #000;
      height: 100%;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }
}