.top {
  $box-wrapper-size: 350px;
  $boxsize: $box-wrapper-size / 10;

  z-index: 15;
  position: relative;
  background: #ffffff url('../images/bg1.jpg') no-repeat center center;
  max-height: 100%;

  h1, h2 {
    color: #fff;
    margin: 0;
    height: 25%;
    position: relative;
    text-align: center;
  }

  h1 {
    font-size: 12vw;
    @include breakpoint(sm) {font-size: 8vw;}
    @include breakpoint(md) {font-size: 7vw;}
  }

  h2 {font-size: 3vw;}

  .top-image {
    height: 200px;
    margin-bottom: 50px;
    @include breakpoint(md) { height: 300px;}

    img {
      height: 100%;
      border: 10px solid #eff0f4;
      display: block;
      z-index: 5;
      margin: auto;
      position: relative;
      border-radius: 50%;
      @include breakpoint(xs) { max-width: 70%;}
      @include breakpoint(sm) {max-width: 60%;}
      @include breakpoint(md) {max-width: 30%;}
    }
  }

  .slide-down-wrapper{
      @import "../components/go-down";
  }
}
