@include max-screen(600px) {

  body {
    font-size: 16px;
    text-align: justify;
  }

  section {
    padding: 5px;
  }

  section.home {
    padding: 0;

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2em;
    }
  }

  section.about-me{
    & > p:nth-of-type(1){
      color: #7e878f;
      padding: 0 5%;
      font-weight: bold;
    }

    & > p:nth-of-type(2){
      color: #7e868e;
      padding: 0 5%;
      margin-top: 5%;
      font-weight: 300;
    }

    .hobbies{
      text-align: center;

      i{
        border: 4px solid black;
        margin: 10px;
        padding: 20px;
        display: inline-block;
        font-size: 4em;
        border-radius: 100%;
      }
    }

    .about-info{
      display: table;

      .info-title{
        width: 30%;
        display: table-cell;
        font-weight: bold;
        vertical-align: top;
      }
      .info-details{
        width: 60%;
        display: table-cell;
        font-size: 0.7em;
      }
    }
  }

}