section.my-education {
  position: relative;
}

section.my-education .home-overlay {
  height: 100%;
  position: relative;
  background: repeat scroll 0 0 rgba(53, 60, 79, 0.8);
}

section.my-education .video-container {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-image: url(http://fernando.is/video/background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

section.my-education .video-container video {
  visibility: visible;
  margin: auto;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1368px;
  height: auto;
}
